td a i {
    font-size: 18px;
    color: #626262;
}

td a {
    margin-right: 5px;
}

.alert h4 {
    font-weight: 500;
    padding: 2px 0;
    margin-bottom: 0;
    vertical-align: middle;
    font-size: 14px;
}

.alert-success h4 {
    color: #28C76F !important;
}

.alert-success h4 {
    color: #EA5455 !important;
}

.search {
    margin-top: 19px;
}

.noapd {
    padding: 0 !important;
}
.w100{width: 100%;float: left;}

.btn-default {
	border: 1px solid #BABFC7;
	background-color: transparent;
	color: #BABFC7;
}
.feather.icon-check {
	color: yellowgreen !important;
}
.feather.icon-x {
	color: red !important;
}
.help-block.form-error {
	color: red;
}
